.big-group-white{
  margin-top: 30px;
  width: 97%;
  background-color: #FEFEFE;
  margin-left: 20px;
  min-height: 100px;
  border-radius: 10px;
  padding: 20px;
  .header-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .Groups{
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      color: #000000;
    }
  .date-group{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  }
  .count-all{
    margin-top: 50px;
    display: flex;
    .active_group{
     &:nth-child(2){
       margin-left: 20px;
     }
      &:nth-child(3){
        margin-left: 20px;
      }
      p{
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        &:nth-child(2){
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #838383;
          margin-top: -11px;
        }
      }

    }
  }
  .container{
    .row{
      justify-content: space-between;
      .col-xl-3{
        border-radius: 15px;
        padding:15px;
        margin: 10px;
        background-color:#FEE4CB;
        .date-end{
          justify-content: space-between;
          display: flex;
          width: 100%;
          .for-date-end{
            cursor: pointer;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            color: #6F6F6F;

          }
        }
        .name-teacher{
          margin-top: 20px;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
        }
        .count_num{
          margin-top: 8px;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #6F6F6F;
        }
        p{
          margin-top: 15px;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          color: #242424;
        }
        .progress{
          height: 10px;
          margin-top: -10px;
          .progress-bar{
            height: 10px;
            font-size: 10px;
            background: #FF942E;
          }
        }
        .teacher__top{
          display: flex;
          margin-top: 17px;
          justify-content: space-between;
          .name_teacher{
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #6F6F6F;
          }
          .name_teacher_img{
            img{
              margin-left: -5px;
              cursor: pointer;
            }
          }
        }
        &:nth-child(2){
          background-color:#DBF6FD;;
        }
        &:nth-child(6){
          background-color:#DBF6FD;;
        }
      }
    }
  }
}

@media (min-width:378px) and (max-width:576px){
  .big-group-white{
    margin-top: 30px;
    width: 97%;
    background-color: #FEFEFE;
    margin-left: 20px;
    min-height: 100px;
    border-radius: 10px;
    padding: 20px;
    .header-group{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .Groups{
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 39px;
        color: #000000;
      }
    .date-group{
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      margin-top: 10px;
      line-height: 22px;
      color: #000000;
    }
    }
    .count-all{
      margin-top: 50px;
      display: flex;
      .active_group{
       &:nth-child(2){
         margin-left: 20px;
       }
        &:nth-child(3){
          margin-left: 20px;
        }
        p{
          font-style: normal;
          font-weight: 500;
          font-size: 28px;
          line-height: 34px;
          &:nth-child(2){
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #838383;
            margin-top: -11px;
          }
        }
  
      }
    }
    .container{
      .row{
        justify-content: space-between;
        .col-xl-3{
          border-radius: 15px;
          padding:15px;
          margin: 10px;
          background-color:#FEE4CB;
          .date-end{
            justify-content: space-between;
            display: flex;
            width: 100%;
            .for-date-end{
              cursor: pointer;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 12px;
              color: #6F6F6F;
  
            }
          }
          .name-teacher{
            margin-top: 20px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
          }
          .count_num{
            margin-top: 8px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #6F6F6F;
          }
          p{
            margin-top: 15px;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #242424;
          }
          .progress{
            height: 10px;
            margin-top: -10px;
            .progress-bar{
              height: 10px;
              font-size: 10px;
              background: #FF942E;
            }
          }
          .teacher__top{
            display: flex;
            margin-top: 17px;
            justify-content: space-between;
            .name_teacher{
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              color: #6F6F6F;
            }
            .name_teacher_img{
              img{
                margin-left: -5px;
                cursor: pointer;
              }
            }
          }
          &:nth-child(2){
            background-color:#DBF6FD;;
          }
          &:nth-child(6){
            background-color:#DBF6FD;;
          }
        }
      }
    }
  }
  
}